@inherits UmbracoViewPage
@{
    Layout = null;

    var finalized = (bool)(ViewData["finalized"] ?? false);
    var canGoBack = (bool)(ViewData["canGoBack"] ?? true);

    var store = Model.GetStore();

    var currentOrder = !finalized
        ? UmbracoCommerceApi.Instance.GetCurrentOrder(store.Id)
        : UmbracoCommerceApi.Instance.GetCurrentFinalizedOrder(store.Id);

    var currentPaymentMethod = currentOrder.PaymentInfo.PaymentMethodId.HasValue
        ? UmbracoCommerceApi.Instance.GetPaymentMethod(currentOrder.PaymentInfo.PaymentMethodId.Value)
        : null;

    var currentShippingMethod = currentOrder.ShippingInfo.ShippingMethodId.HasValue
        ? UmbracoCommerceApi.Instance.GetShippingMethod(currentOrder.ShippingInfo.ShippingMethodId.Value)
        : null;

    var checkoutPage = Model.GetCheckoutPage();

}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@(Model.Name) | @(store.Name)</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="noindex, nofollow" />
    <script src="https://cdn.tailwindcss.com"></script>
    @RenderSection("head", false)
</head>
<body class="bg-black text-gray-500">
    <div class="relative text-sm">

        <!-- Layout -->
        <div class="relative flex flex-col min-h-full max-w-6xl mx-auto lg:flex-row-reverse lg:flex-row">

            <div class="p-8 text-center text-white lg:hidden">
                <a href="/"><svg xmlns="http://www.w3.org/2000/svg" aria-label="Acme Store logo" viewBox="0 0 32 32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" shape-rendering="geometricPrecision" class="h-8 transition-transform hover:scale-110"><rect width="100%" height="100%" rx="16" class="fill-black dark:fill-white"></rect><path class=" fill-white dark:fill-black" d="M17.6482 10.1305L15.8785 7.02583L7.02979 22.5499H10.5278L17.6482 10.1305ZM19.8798 14.0457L18.11 17.1983L19.394 19.4511H16.8453L15.1056 22.5499H24.7272L19.8798 14.0457Z"></path></svg></a>
            </div>

            <a id="order-summary-toggle" href="#" class="flex items-center justify-between border-t border-b border-gray-800 lg:hidden">
                <span class="py-4 pl-8 pr-2 text-lg text-white">
                    <span id="order-summary-toggle__text-closed" class="flex items-center"><svg viewBox="0 0 20 20" class="inline-block w-5 h-5 fill-current mr-2"><use href="#ico-cart" /></svg> Show Order Summary <svg viewBox="0 0 20 20" class="inline-block w-5 h-5 fill-current ml-1"><use href="#ico-chevron-down" /></svg></span>
                    <span id="order-summary-toggle__text-open" class="flex items-center hidden"><svg viewBox="0 0 20 20" class="inline-block w-5 h-5 fill-current mr-2"><use href="#ico-cart" /></svg> Hide Order Summary <svg viewBox="0 0 20 20" class="inline-block w-5 h-5 fill-current ml-1"><use href="#ico-chevron-up" /></svg></span>
                </span>
                <span class="py-4 pr-8 pl-2 text-lg text-white font-medium">
                    @currentOrder.TransactionAmount.Value.Formatted()
                </span>
            </a>

            <div id="order-summary" class="hidden w-full p-8 lg:w-2/5 lg:border-l lg:border-gray-800 lg:block">

                <ul>
                    @foreach (var orderLine in currentOrder.OrderLines)
                    {
                        <li class="border-b border-gray-800 pb-4 mb-4">
                            <div class="flex items-center">

                                <div class="flex flex-1 items-center">
                                    <div><span class="font-medium text-white">@(orderLine.Name) x @((int)orderLine.Quantity)</span><br /><span class="text-xs text-gray-500">@(orderLine.Sku)</span></div>
                                </div>

                                <div class="pl-4 font-medium text-white">@(orderLine.TotalPrice.Value.Formatted().WithoutTax)</div>

                            </div>
                        </li>
                    }
                </ul>

                @RenderSection("aside", false)

                <div class="flex w-full justify-between items-center">
                    <div class="text-white">Subtotal</div>
                    <div class="text-white font-medium">@(currentOrder.SubtotalPrice.WithoutAdjustments.Formatted().WithoutTax)</div>
                </div>

                @if (currentShippingMethod != null)
                {
                    <div class="flex w-full justify-between items-center mt-2">
                        <div class="text-white">
                            @string.Format("Shipping via {0}", currentShippingMethod.Name)
                        </div>
                        <div class="text-white font-medium">@(currentOrder.ShippingInfo.TotalPrice.WithoutAdjustments.Formatted().WithoutTax)</div>
                    </div>
                }

                @if (currentPaymentMethod != null && currentPaymentMethod.PaymentProviderAlias != "zeroValue")
                {
                    <div class="flex w-full justify-between items-center mt-2">
                        <div class="text-white">
                            @string.Format("Payment via {0}", currentPaymentMethod.Name)
                        </div>
                        <div class="text-white font-medium">@(currentOrder.PaymentInfo.TotalPrice.WithoutAdjustments.Formatted().WithoutTax)</div>
                    </div>
                }

                @{
                    var totalDiscounts = currentOrder.GetTotalPriceAdjustmentByType<DiscountAdjustment>();
                    if (totalDiscounts != 0)
                    {
                        <div class="flex w-full justify-between items-center mt-2 ">
                            <div class="text-white">Discounts</div>
                            <div class="text-white font-medium">@totalDiscounts.Formatted().WithoutTax</div>
                        </div>
                    }
                }

                <div class="flex w-full justify-between items-center mt-2">
                    <div class="text-white">Tax</div>
                    <div class="text-white font-medium">@(currentOrder.TotalPrice.Value.Formatted().Tax)</div>
                </div>

                @foreach (var giftCardAdjustment in currentOrder.TransactionAmount.Adjustments.OfType<GiftCardAdjustment>())
                {
                    <div class="flex w-full justify-between items-center mt-2">
                        <div class="text-white">Gift Card (@(giftCardAdjustment.GiftCardCode))</div>
                        <div class="text-white font-medium">-@(giftCardAdjustment.Amount.Formatted())</div>
                    </div>
                }

                <hr class="border-t border-gray-800 my-4" />

                <div class="flex w-full justify-between items-center">
                    <div class="text-white font-medium text-base">Total</div>
                    <div class="text-white font-medium text-2xl">@currentOrder.TransactionAmount.Value.Formatted()</div>
                </div>

            </div>

            <div class="flex-1 p-8">

                <div class="hidden lg:block">

                    <div class="text-center mb-4">
                        <a href="/"><svg xmlns="http://www.w3.org/2000/svg" aria-label="Acme Store logo" viewBox="0 0 32 32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" shape-rendering="geometricPrecision" class="h-10 mx-auto transition-transform hover:scale-110"><rect width="100%" height="100%" rx="16" class="fill-black dark:fill-white"></rect><path class=" fill-white dark:fill-black" d="M17.6482 10.1305L15.8785 7.02583L7.02979 22.5499H10.5278L17.6482 10.1305ZM19.8798 14.0457L18.11 17.1983L19.394 19.4511H16.8453L15.1056 22.5499H24.7272L19.8798 14.0457Z"></path></svg></a>
                    </div>

                    <div class="mb-8">
                        <ul class="flex justify-center">
                            @{
                                var passedStep = false;
                                foreach (var item in checkoutPage.Children.Select((s, i) => new { Step = s, Index = i }))
                                {
                                    <li class="@(item.Index > 0 ? "pl-2" : "") flex items-baseline">
                                        @if (item.Index > 0)
                                        {
                                            <span class="mr-2">&rsaquo;</span>
                                        }
                                        @if (!passedStep && item.Step.Id != Model.Id && canGoBack)
                                        {
                                            <a href="@item.Step.Url()" class="hover:text-white">@(item.Step.Value<string>("shortStepName", defaultValue: item.Step.Name))</a>
                                        }
                                        else
                                        {
                                            <span class="@(item.Step.Id == Model.Id ? "text-white font-bold" : "")">@(item.Step.Value<string>("shortStepName", defaultValue: item.Step.Name))</span>
                                        }
                                    </li>
                                    passedStep = passedStep || item.Step.Id == Model.Id;
                                }
                            }
                        </ul>
                    </div>

                </div>

                @Html.ValidationSummary(true, "", new { @class = "bg-red-500 text-white p-4 rounded mb-6" })

                <div class="border-2 border-red-500 bg-red-900 rounded-lg p-4 mb-4">
                    <h3 class="text-lg font-bold mb-2 text-red-200">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 inline-block mr-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                        </svg>
                        Demo Store
                    </h3>
                    <p class="text-sm text-white italic">Please note this is a demo project for showcasing Umbraco headless capabilities. Purchases made are test purchases only. No payments will be captured and no products will be shipped.</p>
                </div>

                @RenderBody()

            </div>
        </div>

    </div>

    <!-- Sprites -->
    <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
        <symbol id="ico-cart" viewBox="0 0 20 20">
            <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
        </symbol>
        <symbol id="ico-check" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
        </symbol>
        <symbol id="ico-delete" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </symbol>
        <symbol id="ico-chevron-left" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
        </symbol>
        <symbol id="ico-chevron-right" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </symbol>
        <symbol id="ico-chevron-up" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
        </symbol>
        <symbol id="ico-chevron-down" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </symbol>
    </svg>

    <script src="/scripts/checkout.js" defer></script>

    @RenderSection("foot", false)

</body>
</html>
